<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/newspaper.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/newspaper.css">
    
    <title>SamSocial: Be Your Best Samaritian.</title>
</head>
<body>
    <section class="heading d-flex align-items-center p-3">
        <h1 class="mb-0 text-center"><a href="/news/newspaper">Newspaper</a></h1>
        <a href="/news/newspaper/post" class="btn btn-primary">Add Post</a>
    </section>

    <nav class="d-flex">
        <section class="news-nav d-flex justify-content-center align-items-center py-2 <%= category === 'World News' ? 'selected' : '' %>">
            <a href="/news/newspaper?category=World News" class="mb-0">World News</a>
        </section>
        <section class="news-nav d-flex justify-content-center align-items-center py-2 <%= category === 'Sports' ? 'selected' : '' %>">
            <a href="/news/newspaper?category=Sports" class="mb-0">Sports</a>
        </section>
        <section class="news-nav d-flex justify-content-center align-items-center py-2 <%= category === 'Salesian Scoop' ? 'selected' : '' %>">
            <a href="/news/newspaper?category=Salesian Scoop" class="mb-0">Salesian Scoop</a>
        </section>
        <section class="news-nav d-flex justify-content-center align-items-center py-2 <%= category === 'Student Spotlight' ? 'selected' : '' %>">
            <a href="/news/newspaper?category=Student Spotlight" class="mb-0">Student Spotlight</a>
        </section>
        <section class="news-nav d-flex justify-content-center align-items-center py-2 <%= category === 'Wellness' ? 'selected' : '' %>">
            <a href="/news/newspaper?category=Wellness" class="mb-0">Wellness</a>
        </section>
        <section class="news-nav d-flex justify-content-center align-items-center py-2 <%= category === 'Entertainment' ? 'selected' : '' %>">
            <a href="/news/newspaper?category=Entertainment" class="mb-0">Entertainment</a>
        </section>
        <section class="news-nav d-flex justify-content-center align-items-center py-2 <%= category === 'Crossword' ? 'selected' : '' %>">
            <a href="/news/newspaper?category=Crossword" class="mb-0">Crossword</a>
        </section>
    </nav>

    <main class="my-3">
        <%- body -%>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
</body>
</html>