<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Listing</title>
</head>
<body>
    <h1>Edit Listing</h1>
    <form action="/organizations/:orgId/listings/<%= listing._id %>/edit?_method=PUT" method="POST">
        <div>
            <label for="eventName">Event Name</label>
            <input type="text" id="eventName" name="EventName" value="<%= listing.EventName %>" required autocomplete="off">
        </div>

        <div>
            <label for="category">Category</label>
            <input type="text" id="category" name="Category" value="<%= listing.Category %>" required autocomplete="off">
        </div>

        <div>
            <label for="date">Date</label>
            <input type="text" id="date" name="Date" value="<%= listing.Date %>" required autocomplete="off">
        </div>

        <div>
            <label for="start">Start Time</label>
            <input type="text" id="start" name="Start" value="<%= listing.Start %>" required autocomplete="off">
        </div>

        <div>
            <label for="end">End Time</label>
            <input type="text" id="end" name="End" value="<%= listing.End %>" required autocomplete="off">
        </div>

        <div>
            <label for="description">Description</label>
            <input type="text" id="description" name="Description" value="<%= listing.Description %>" required autocomplete="off">
        </div>

        <button>Update</button>
    </form>
</body>
</html>